<ion-grid class=" ion-align-item-center">
  <ion-row class="filterpanel ion-align-item-center ion-justify-content-center">
    <ion-col size="2.5">
      <ion-item lines="none">
        <ion-label position="stacked">Start date & Time</ion-label>
        <ion-input id="open-date-input-1" [(ngModel)]="from"></ion-input>
        <ion-popover trigger="open-date-input-1" show-backdrop="true">
          <ng-template>
            <ion-datetime #popoverDatetime1 presentation="date-time" (ionChange)="from = popoverDatetime1.value">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-col>
    <ion-col size="2.5">
      <ion-item lines="none">
        <ion-label position="stacked">end date & Time</ion-label>
        <ion-input id="open-date-input-2" [(ngModel)]="to"></ion-input>
        <ion-popover trigger="open-date-input-2" show-backdrop="true">
          <ng-template>
            <ion-datetime #popoverDatetime2 presentation="date-time" (ionChange)="to = popoverDatetime2.value">
            </ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ion-col>
    <ion-col size="2.5" class="ion-align-self-center ion-justify-content-center">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label>User</ion-label>
        <ion-select [(ngModel)]="user" class="ion-no-padding" interface="popover" placeholder="Select One">
          <ion-select-option value="Finn">Finn</ion-select-option>
          <ion-select-option value="Bob">Bob</ion-select-option>
          <ion-select-option value="Ray">Ray</ion-select-option>
          <ion-select-option value="Alex">Alex</ion-select-option>
          <ion-select-option value="Geetha">Geetha</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2.5" class="ion-align-self-center ion-justify-content-center">
      <ion-item class="ion-no-padding" lines="none">
        <ion-label>process</ion-label>
        <ion-select [(ngModel)]="process" class="ion-no-padding" interface="popover" placeholder="Select One">
          <ion-select-option value="Air Dry">Air Dry</ion-select-option>
          <ion-select-option value="Oven Dry">Oven Dry</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="2" class="ion-align-self-center ion-justify-content-center">
      <ion-button (click)="loadReport()" color="primary">Filter</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-text color="dark">
  <h2>Report</h2>
</ion-text>
<ion-grid class="ReportTable" style="text-align: center;">



  <div class="tables">
    <ion-row class="header">
      <ion-col size=".5">
        S.No
      </ion-col>
      <ion-col size="1.5">
        Trolley<br />No
      </ion-col>
      <ion-col size="2">
        Date & Time IN
      </ion-col>
      <ion-col size="2">
        Date & Time OUT
      </ion-col>
      <ion-col size="1">
        Timer
      </ion-col>
      <ion-col size="2">
        Operator Name
      </ion-col>
      <ion-col size="2">
        status
      </ion-col>
      <ion-col size="1">
        Function
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center" *ngFor="let item of _trayDetails; let i = index;">
      <ion-col size=".5">
        {{ item.userId }}
      </ion-col>
      <ion-col size="1.5">
        {{ item.batchNo }}
      </ion-col>
      <ion-col size="2">
        {{ item.dateTime }}
      </ion-col>
      <ion-col size="2">
        {{ _count[i] }}
      </ion-col>
      <ion-col size="1">
        {{ _hour }} : {{ _minutes }} : {{ _sec }}
      </ion-col>
      <ion-col size="2">
        {{ item.user }}
      </ion-col>
      <ion-col size="2">
        <ion-chip color="success">
          <ion-label color="success" *ngIf="item.process == 'Air Dry'">{{ statusAir }}</ion-label>
          <ion-label color="succcess" *ngIf="item.process == 'Oven Dry'">{{ statusOven }}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="1">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-grid>

<!-- </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size=".5">
        23
      </ion-col>
      <ion-col size="1.5">
        Trolley15
      </ion-col>
      <ion-col size="1.5">
        Jun 28, 3:53
      </ion-col>
      <ion-col size="1.5">
        Jun 29, 3:53
      </ion-col>
      <ion-col size="1">
        6:25
      </ion-col>
      <ion-col size="2">
        Mohamed salman khan
      </ion-col>
      <ion-col size="2">
        <ion-chip color="warning">
          <ion-label color="warning">IN Process</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" fill="outline">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size=".5">
        3
      </ion-col>
      <ion-col size="1.5">
        Trolley6
      </ion-col>
      <ion-col size="1.5">
        07-06-22 5:48
      </ion-col>
      <ion-col size="1.5">
        07-06-22 5:48
      </ion-col>
      <ion-col size="1">
        13:56
      </ion-col>
      <ion-col size="2">
        Oscar
      </ion-col>
      <ion-col size="2">
        <ion-chip color="success">
          <ion-label color="success">Completed</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" fill="outline">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-grid>

  for oven table
  <ion-text color="dark">
    <h2>Oven Dry Station</h2>
  </ion-text>



  <ion-grid style="text-align: center;">
    <ion-row class="header">
      <ion-col size=".5">
        S.No
      </ion-col>
      <ion-col size="1.5">
        Trolley<br/>No
      </ion-col>
      <ion-col size="1.5">
        Date & Time IN
      </ion-col>
      <ion-col size="1.5">
        Date & Time OUT
      </ion-col>
      <ion-col size="1">
        Timer
      </ion-col>
      <ion-col size="2">
        Operator Name
      </ion-col>
      <ion-col size="2">
        status
      </ion-col>
      <ion-col size="2">
        Function
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size=".5">
        22
      </ion-col>
      <ion-col size="1.5">
        Trolley21
      </ion-col>
      <ion-col size="1.5">
        May 15, 5:48
      </ion-col>
      <ion-col size="1.5">
        May 16, 5:48
      </ion-col>
      <ion-col size="1">
        4:56
      </ion-col>
      <ion-col size="2">
        Ray
      </ion-col>
      <ion-col size="2">
        <ion-chip color="success">
          <ion-label color="success">IN Process</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" fill="outline">
          <ion-icon name="trash"></ion-icon>
        </ion-button>


      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size=".5">
        23
      </ion-col>
      <ion-col size="1.5">
        Trolley15
      </ion-col>
      <ion-col size="1.5">
        Jun 28, 3:53
      </ion-col>
      <ion-col size="1.5">
        Jun 29, 3:53
      </ion-col>
      <ion-col size="1">
        6:25
      </ion-col>
      <ion-col size="2">
        Mohamed salman khan
      </ion-col>
      <ion-col size="2">
        <ion-chip color="warning">
          <ion-label color="warning">IN Process</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" fill="outline">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col size=".5">
        3
      </ion-col>
      <ion-col size="1.5">
        Trolley6
      </ion-col>
      <ion-col size="1.5">
        07-06-22 5:48
      </ion-col>
      <ion-col size="1.5">
        07-06-22 5:48
      </ion-col>
      <ion-col size="1">
        13:56
      </ion-col>
      <ion-col size="2">
        Oscar
      </ion-col>
      <ion-col size="2">
        <ion-chip color="success">
          <ion-label color="success">Completed</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col size="2">
        <ion-button size="small" fill="outline">
          <ion-icon name="color-wand-outline"></ion-icon>
        </ion-button>
        <ion-button size="small" color="danger" fill="outline">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>  
  </ion-grid> -->

<ion-text color="dark">
  <h2>Completed Task</h2>
</ion-text>


<ion-button (click)="generateExcel()">
  Generate Excel
</ion-button>

<ion-grid style="text-align: center;">
  <ion-row class="header">
    <ion-col size="1">
      S.No
    </ion-col>
    <ion-col size="2">
      Trolley No
    </ion-col>
    <ion-col size="2">
      Start Time
    </ion-col>
    <ion-col size="2">
      End Time
    </ion-col>
    <ion-col size="1">
      Period
    </ion-col>
    <ion-col size="2">
      status
    </ion-col>
    <ion-col size="2">
      Pickup Time
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="1">
      1
    </ion-col>
    <ion-col size="2">
      Trolley21
    </ion-col>
    <ion-col size="2">
      04-06-22 5:48
    </ion-col>
    <ion-col size="2">
      05-06-22 5:48
    </ion-col>
    <ion-col size="1">
      3
    </ion-col>
    <ion-col size="2">
      <ion-chip color="success">
        <ion-label color="success">Completed</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="2">
      05-06-22 5:48
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center">
    <ion-col size="1">
      2
    </ion-col>
    <ion-col size="2">
      Trolley15
    </ion-col>
    <ion-col size="2">
      02-06-22 3:53
    </ion-col>
    <ion-col size="2">
      03-06-22 3:53
    </ion-col>
    <ion-col size="1">
      1
    </ion-col>
    <ion-col size="2">
      <ion-chip color="success">
        <ion-label color="success">Completed</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="2">
      07-06-22 5:48
    </ion-col>
  </ion-row>

  <ion-row class="ion-align-items-center">
    <ion-col size="1">
      3
    </ion-col>
    <ion-col size="2">
      Trolley6
    </ion-col>
    <ion-col size="2">
      07-06-22 5:48
    </ion-col>
    <ion-col size="2">
      07-06-22 5:48
    </ion-col>
    <ion-col size="1">
      3
    </ion-col>
    <ion-col size="2">
      <ion-chip color="success">
        <ion-label color="success">Completed</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col size="2">
      07-06-22 5:48
    </ion-col>
  </ion-row>
</ion-grid>