// ion-col {
//     border: 1px  solid rgba(0,0,0, 0.3);
// }
.ReportTable ion-row:nth-child(even) {
    background-color: rgba(0,0,0, .04)
}
.ReportTable ion-row:nth-child(odd) {
    background-color: #fff
}
.ReportTable ion-row:last-child {
    border-radius: 0 0 10px 10px;
  }
.ReportTable ion-grid {
    border-radius: 10px;
    background: #fff;
    padding: 0 !important;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    border: 1px solid rgba(17, 17, 26, 0.2);
}
span {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}
.ReportTable ion-row {
    transition: 0.3s all ease;
    font-size: 14px;
}
.ReportTable ion-row:hover {
    transform: scaleX(1.01);
    // box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
h2 {
    color: #15133c;
    margin: 25px 0 20px 0;
    font-weight: bold;
}
.infoBar {
    border-radius: 10px;
    padding: 25px 14px !important;
    
}
.infoBar ion-col {
    background: #fff;
    
}
.ReportTable ion-button {
    --border-width:1px;
}
.header {
    font-weight: 600;
    color: #15133c;
    background: #c4ddff !important;
    border-radius:10px 10px 0 0 ;
    padding: 4px 0;
}
// test

.tab-selected {
    color: #16438b;
}
.logo {
    height: 70px;
  }
  .app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  ion-header {
      background: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
  .filterpanel ion-item {
    border-radius: 20px;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --inner-border-width: 0;
    padding: 0px !important;
}
.filterpanel ion-label {
    padding-left: 12px;
}
