.tab-selected {
    color: #16438b;
}
.logo {
    height: 70px;
  }
  .app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  ion-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  }
