<ion-content class="ion-no-padding"  style="--background: #f9f9fc;">
  <ion-grid class="infoBar ion-padding-top">
    <ion-row class="filterpanel ion-padding-start ion-padding-bottom ion-padding-end">
      <ion-col id="open-date-input-1" size="6" size-sm="2.5">
        <ion-label>Start date</ion-label>
        <ion-item>
          <!-- <ion-input [value]="convertedFrom || currentdateFrom"></ion-input> -->
          <ion-text class="cursor">{{ convertedFrom || currentdateFrom }}</ion-text>
          <ion-popover trigger="open-date-input-1">
            <ng-template>
              <ion-datetime [(ngModel)]="from" #popoverDatetime1 presentation="date-time" (ionChange)="convertedFrom = convert(popoverDatetime1.value)">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col  id="open-date-input-2" size="6" size-sm="2.5">
        <ion-label>End date</ion-label>
        <ion-item>
          <ion-text class="cursor">{{ convertedTo || currentdateTo }}</ion-text>
          <ion-popover trigger="open-date-input-2">
            <ng-template>
              <ion-datetime [(ngModel)]="to" #popoverDatetime2 presentation="date-time" (ionChange)="convertedTo = convert(popoverDatetime2.value)">
              </ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-col>
      <ion-col size="4" size-sm="2.5" class="ion-align-self-center">
        <ion-label>User</ion-label>
        <ion-item>
          <div *ngIf="superUser == 'false'">
            <ion-select [(ngModel)]="currentUser" interface="popover" placeholder="Select One">
              <ion-select-option value="{{ currentUser }}">{{ currentUser }}</ion-select-option>
            </ion-select>
          </div>
          <div *ngIf="superUser == 'true'">
            <ion-select [(ngModel)]="user" interface="popover" placeholder="Select One">
              <ion-select-option value="">All</ion-select-option>
              <ion-select-option *ngFor="let displayUser of _userList" [value]="displayUser">{{ displayUser }}
              </ion-select-option>
            </ion-select>
          </div>
        </ion-item>
      </ion-col>
      <ion-col size="4" size-sm="2.5" class="ion-align-self-center">
        <ion-label>Process</ion-label>
        <ion-item>
          <ion-select [(ngModel)]="process" interface="popover" placeholder="Select One">
            <ion-select-option value="">All</ion-select-option>
            <ion-select-option value="Air Dry">Air Dry</ion-select-option>
            <ion-select-option value="Oven Dry">Oven Dry</ion-select-option>
            <ion-select-option value="ReOven">Re Oven</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="4" size-sm="2" class="ion-align-self-end">
        <ion-button (click)="generateTrayDetails()" expand="block" color="primary">Filter</ion-button>
      </ion-col>
    </ion-row>
    <!-- </form> -->


    <ion-row class="ion-align-items-center">
      <ion-col size="12" size-sm="6" class="--ion-grid-column-padding">
        <ion-card-header>
          <ion-card-title>Air Dry</ion-card-title>
        </ion-card-header>
        <ion-card>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>No of Trolley<br /><span>{{ _count || 0 }}</span></ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-icon name="albums" slot="start"></ion-icon>
              <ion-label>Quantity<br /><span>{{ _airDryQuan || 0}}</span></ion-label>
            </ion-item>
            <!-- <ion-item class="ion-no-padding">
              <ion-icon name="hourglass" slot="start"></ion-icon>
              <ion-label>Next Completion<br /><span>16:4:58
                </span><br />
                <ion-progress-bar color="success" value="0.50"></ion-progress-bar>
              </ion-label>
            </ion-item> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="6">
        <ion-card-header>
          <ion-card-title>Oven dry</ion-card-title>
        </ion-card-header>
        <ion-card>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>No of Trolley<br /><span>{{ _count1 || 0}}</span></ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-icon name="albums" slot="start"></ion-icon>
              <ion-label>Quantity<br /><span>{{ _ovenDryQuan || 0 }}</span></ion-label>
            </ion-item>
            <!-- <ion-item class="ion-no-padding">
              <ion-icon name="hourglass" slot="start"></ion-icon>
              <ion-label>Next Completion<br /><span>38:12:58
                </span><br />
                <ion-progress-bar color="success" value="0.25"></ion-progress-bar>
              </ion-label>
            </ion-item> -->
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="4">
        <ion-card-header>
          <ion-card-title>Pass</ion-card-title>
        </ion-card-header>
        <ion-card>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>Trolley<br /><span>{{ totalCount || 0 }}</span></ion-label>
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-icon name="albums" slot="start"></ion-icon>
              <ion-label>Quantity<br /><span>{{ totalQuantity || 0}}</span></ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card-header>
          <ion-card-title>Oven Dry (Re)</ion-card-title>
        </ion-card-header>
        <ion-card>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>Trolley<br /><span>{{ _reOvenCount || 0}}</span></ion-label>
              <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-icon name="albums" slot="start"></ion-icon>
              <ion-label>Quantity<br /><span>{{ _reOvenQuan || 0 }}</span></ion-label>
              <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm="4">
        <ion-card-header>
          <ion-card-title>Pass (Rework)</ion-card-title>
        </ion-card-header>
        <ion-card>
          <ion-card-content>
            <ion-item class="ion-no-padding">
              <ion-icon name="cart" slot="start"></ion-icon>
              <ion-label>Trolley<br /><span>0</span></ion-label>
              <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
            </ion-item>
            <ion-item class="ion-no-padding">
              <ion-icon name="albums" slot="start"></ion-icon>
              <ion-label>Quantity<br /><span>0</span></ion-label>
              <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>