// ion-input, ion-textarea {
//     // background: #4470d0;
//     border-radius: 10px;
//     margin-top: 3px;
//     border: 0.5px solid rgba(17, 17, 26, 0.2);
//     --padding-start: 15px !important;
// }
// ion-input::placeholder {
//     font-size: 12px;
//     color: rgba(0, 0, 0, 0.04);
// }
// ion-item {
//     --inner-border-width: 0;
//     padding-right: 10px;
//     margin: 2px;
// }
// ion-label {
//     font-weight: 600;
//     color: #15133c !important;
// }
// ion-grid {
//     border-radius: 14px;
//     background: #fff;
//     box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
//     border: 1px solid rgba(17, 17, 26, 0.2);
//     padding: 10px 0 15px 0;
// }
// ion-content {
//     --background: #f9f9fc !important;
// }
// .dbutton {
//     --background: #4470d0;
//     color:#fff;
//     border-radius: 10px;
// }