<ion-content [fullscreen]="true">
  <ion-list-header>
    <ion-label *ngIf="role == 'false'">Welcome {{ user }}!</ion-label>
    <ion-label *ngIf="role == 'true'">Welcome {{ currentUser }}</ion-label>
    <ion-item lines="none">
      <ion-button (click)="logout()" style="padding-right: 10px;" class="primary">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        Logout
      </ion-button>
    </ion-item>
  </ion-list-header>

  <ion-list>
    <ion-item-sliding>
      <ion-item>
        <ion-label *ngIf="role == 'false'">{{ user }}<br /><span>{{ spec }}</span></ion-label>
        <ion-label *ngIf="role == 'true'">{{ currentUser }}<br /><span>Admin</span></ion-label>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary">
          <ion-icon slot="start" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
          More
        </ion-item-option>
        <ion-item-option color="danger">
          <ion-icon slot="start" name="archive"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    <ion-item lines="none" (click)="checkForUpdate()">
      <ion-icon name="paper-plane" slot="start"></ion-icon>
      <ion-label>
        <h3>Update</h3>
        <p>Check for app update</p>
      </ion-label>
    </ion-item>
    <div class="userlist" *ngIf="onLoad()">

      <!-- modal content -->
      <div *ngFor="let item of _data; let i = index;">
      <ion-modal [isOpen]="view" trigger="trigger-button{{i}}">
        <ng-template>
          <ion-content>
            <ion-grid>
              <form (ngSubmit)="updateUser()" [formGroup]="updateUserForm">
                <div>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="stacked">user Id</ion-label>
                        <ion-input name="name" [(ngModel)]="item.userId" formControlName="userId" placeholder="02">
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="stacked">Name:</ion-label>
                        <ion-input [(ngModel)]="item.userName" formControlName="createdBy" placeholder=" Finn"></ion-input>
                      </ion-item>
                    </ion-col>
                    <ion-col class="ion-align-self-center">
                      <ion-item>
                        <ion-label>Role</ion-label>
                        <ion-select [(ngModel)]="item.role" formControlName="role" okText="Okay" cancelText="Dismiss">
                          <ion-select-option value="Admin">Admin</ion-select-option>
                          <ion-select-option value="operator">operator</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="stacked">Username</ion-label>
                        <ion-input [(ngModel)]="item.userName" formControlName="userName" placeholder="Finn Axe">
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-label position="stacked">Password</ion-label>
                      <ion-input [(ngModel)]="item.password" formControlName="password" placeholder="******"></ion-input>
                    </ion-item>
                  </ion-col>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="stacked">Email Id</ion-label>
                        <ion-input [(ngModel)]="item.emailId" formControlName="emailId" placeholder="Finn@mail.com">
                        </ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-item>
                        <ion-label position="stacked">Additional Info</ion-label>
                        <ion-textarea [(ngModel)]="item.AdditionalInfo" formControlName="additionalInfo" placeholder="Enter more information here...">
                        </ion-textarea>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="padding-right: 21px;">
                      <ion-button type="submit" class="dbutton" expand="block">Update!</ion-button>
                    </ion-col>
                  </ion-row>
                </div>
              </form>
            </ion-grid>
          </ion-content>
        </ng-template>
      </ion-modal>
      </div>
      <!-- modal data ends -->

      <!-- user ui card -->
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let item of _data; let i = index" size="4">
            <ion-card>
              <ion-card-header>
                <ion-text color="primary">
                  <h3> {{item.userName}} </h3>
                </ion-text>
                <ion-card-subtitle style="text-decoration: none;">
                  {{item.role }}<br />
                  {{item.userName}} <br />
                  {{item.emailId}}
                </ion-card-subtitle>
                <ion-row class="ion-no-padding ion-no-margin">
                  <ion-col class="ion-no-padding ion-no-margin">
                    <ion-button id="trigger-button{{i}}" color="primary" size="snall">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                  <ion-col class="ion-no-padding ion-no-margin">
                    <ion-button (click)="deleteUser(item.userId)" color="danger" size="snall">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- user ui card ends -->
    </div>

  </ion-list>
</ion-content>
<ion-footer *ngIf="onLoad()">
  <ion-button routerLink="addUser" expand="block">Add Users</ion-button>
</ion-footer>